@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
 
@import "nativewind/theme";


@theme {
    --color-red: #F7434B;
    --color-dark-red: #8F303D;
    --color--dark: #393939;
    --color-mid: #636363;
    --color-light: #C9C9C9;
    --color-white: #FBFBFB;
    --color-bg: #1E1E1E;
    --color-card: #2A2A2A;
    --color-card2: #323232;
    --color-gray:#888;

    /* fonts  */
  --font-heading: 'PlayfairDisplay_700Bold';
  --font-body: 'DMSans_400Regular';
  --font-medium: 'DMSans_500Medium';

}